{% extends 'base.html.twig' %}
{% import 'macros/form_macros.html.twig' as form_macros %}
{% block title %}Редактировать авто{% endblock %}

{% block body %}
    <h1 class="my-4">Редактировать авто</h1>

    {{ form_macros.render_form(form) }}
    <a href="{{ path('list_cars') }}" class="btn btn-secondary">Назад к списку</a>

{% endblock %}
