{% extends 'base.html.twig' %}

{% block title %}Order JSON{% endblock %}

{% block body %}
    <h1 class="my-4">Order JSON</h1>

    <pre>{{ orderData|raw }}</pre>

    <a href="{{ path('list_orders') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
