{% extends 'base.html.twig' %}
{% import 'macros/form_macros.html.twig' as form_macros %}
{% block title %}Добавить расходник{% endblock %}

{% block body %}
    <h1 class="my-4">Добавить расходник</h1>

    {{ form_macros.render_form(form) }}
{% endblock %}
