{% extends 'base.html.twig' %}

{% block title %}Create Material{% endblock %}

{% block body %}
    <h1 class="my-4">Добавить запчасти</h1>

    <form method="post">
        <div class="form-group">
            <label for="name">Наименоваание:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="cost">Себестоимость:</label>
            <input type="number" step="0.01" id="cost" name="cost" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="quantity">Количество:</label>
            <input type="number" id="quantity" name="quantity" class="form-control" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="{{ path('list_materials') }}" class="btn btn-secondary">Back to list</a>
        </div>
    </form>
{% endblock %}
