{% extends 'base.html.twig' %}
{% import 'macros/form_macros.html.twig' as form_macros %}
{% block title %}Редактировать {{ material.name }}{% endblock %}

{% block body %}
    <h1 class="my-4">Редактировать {{ material.name }}</h1>

    {{ form_macros.render_form(form) }}
{% endblock %}
